<%- include('./partials/header.ejs') %>
	<h1>Self Monitoring App</h1>
	<p>This is a self monitoring app for tracking your daily behaviour!</p>

	<table>
	<tr>
		<th> 
			<h3><a href="/behaviour/reporting">Report your day</a></h3>
		</th>
		<th> 
			<h3><a href="/behaviour/summary">Summary</a></h3>
		</th>
	</tr>
	</table>


<%- include('./partials/footer.ejs') %>